skin/frontend/default/new/app/code/core/Mage/Sales/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="salesOrderEntity">
                <xsd:sequence>
                    <xsd:element name="increment_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="parent_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="is_active" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="tax_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="discount_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="subtotal" type="xsd:string" minOccurs="0" />
                    <xsd:element name="grand_total" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_paid" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_online_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_shipping_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_discount_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_subtotal" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_grand_total" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_paid" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_online_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_address_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_address_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_name" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_name" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_to_base_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_to_order_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_to_global_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_to_order_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="weight" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_name" type="xsd:string" minOccurs="0" />
                    <xsd:element name="remote_ip" type="xsd:string" minOccurs="0" />
                    <xsd:element name="status" type="xsd:string" minOccurs="0" />
                    <xsd:element name="state" type="xsd:string" minOccurs="0" />
                    <xsd:element name="applied_rule_ids" type="xsd:string" minOccurs="0" />
                    <xsd:element name="global_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="order_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_method" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_description" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_email" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="quote_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="is_virtual" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_group_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_note_notify" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_is_guest" type="xsd:string" minOccurs="0" />
                    <xsd:element name="email_sent" type="xsd:string" minOccurs="0" />
                    <xsd:element name="order_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="gift_message_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="gift_message" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_address" type="typens:salesOrderAddressEntity" minOccurs="0" />
                    <xsd:element name="billing_address" type="typens:salesOrderAddressEntity" minOccurs="0" />
                    <xsd:element name="items" type="typens:salesOrderItemEntityArray" minOccurs="0" />
                    <xsd:element name="payment" type="typens:salesOrderPaymentEntity" minOccurs="0" />
                    <xsd:element name="status_history" type="typens:salesOrderStatusHistoryEntityArray" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="salesOrderListEntity">
                <xsd:sequence>
                    <xsd:element name="increment_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="tax_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="discount_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="subtotal" type="xsd:string" minOccurs="0" />
                    <xsd:element name="grand_total" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_paid" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_online_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_shipping_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_discount_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_subtotal" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_grand_total" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_paid" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_online_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_address_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_address_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_name" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_name" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_to_base_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_to_order_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_to_global_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_to_order_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="weight" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_name" type="xsd:string" minOccurs="0" />
                    <xsd:element name="remote_ip" type="xsd:string" minOccurs="0" />
                    <xsd:element name="status" type="xsd:string" minOccurs="0" />
                    <xsd:element name="state" type="xsd:string" minOccurs="0" />
                    <xsd:element name="applied_rule_ids" type="xsd:string" minOccurs="0" />
                    <xsd:element name="global_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="order_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_method" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_description" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_email" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="quote_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="is_virtual" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_group_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_note_notify" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_is_guest" type="xsd:string" minOccurs="0" />
                    <xsd:element name="email_sent" type="xsd:string" minOccurs="0" />
                    <xsd:element name="order_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="gift_message_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="coupon_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="protect_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_discount_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_discount_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_discount_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_shipping_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_shipping_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_shipping_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_shipping_tax_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_shipping_tax_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_subtotal_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_subtotal_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_subtotal_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_tax_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_tax_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_tax_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_invoiced_cost" type="xsd:string" minOccurs="0" />
                    <xsd:element name="discount_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="discount_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="discount_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_tax_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_tax_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="subtotal_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="subtotal_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="subtotal_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="tax_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="tax_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="tax_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="can_ship_partially" type="xsd:string" minOccurs="0" />
                    <xsd:element name="can_ship_partially_item" type="xsd:string" minOccurs="0" />
                    <xsd:element name="edit_increment" type="xsd:string" minOccurs="0" />
                    <xsd:element name="forced_do_shipment_with_invoice" type="xsd:string" minOccurs="0" />
                    <xsd:element name="payment_authorization_expiration" type="xsd:string" minOccurs="0" />
                    <xsd:element name="paypal_ipn_customer_notified" type="xsd:string" minOccurs="0" />
                    <xsd:element name="quote_address_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="adjustment_negative" type="xsd:string" minOccurs="0" />
                    <xsd:element name="adjustment_positive" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_adjustment_negative" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_adjustment_positive" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_shipping_discount_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_subtotal_incl_tax" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_due" type="xsd:string" minOccurs="0" />
                    <xsd:element name="payment_authorization_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_discount_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="subtotal_incl_tax" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_due" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_dob" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_middlename" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_prefix" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_suffix" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_taxvat" type="xsd:string" minOccurs="0" />
                    <xsd:element name="discount_description" type="xsd:string" minOccurs="0" />
                    <xsd:element name="ext_customer_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="ext_order_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="hold_before_state" type="xsd:string" minOccurs="0" />
                    <xsd:element name="hold_before_status" type="xsd:string" minOccurs="0" />
                    <xsd:element name="original_increment_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="relation_child